/* static/css/style.css */
body {
    background-color: #f0f0f0;
}

.title-color {
    color: #ff3a33;
}

header.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensures header stays on top */
}

main {
  margin-top: 80px; /* Adjust based on header height */
}
