{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#    <title>{% block title %}Sustains.ai{% endblock %}</title>#}
{#    <meta name="description" content="AI-Driven Risk Analytics for Finance and Energy">#}
{##}
{#    <!-- Main CSS -->#}
{#    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" rel="stylesheet">#}
{#    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">#}
{#    <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.min.css') }}">#}
{#    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">#}
{#    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-icons.css') }}">#}
{#</head>#}
{#<body>#}
{##}
{#  <!-- Header -->#}
{#  <header class="navbar navbar-expand-lg navbar-light navbar-absolute-top">#}
{#    <div class="container">#}
{#      <nav class="navbar-nav-wrap">#}
{#        <a class="navbar-brand" href="{{ url_for('index') }}">#}
{#          <img class="navbar-brand-logo" src="{{ url_for('static', filename='images/Sustain_White.png') }}" alt="Sustains.ai Logo">#}
{#        </a>#}
{##}
{#        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">#}
{#          <span class="navbar-toggler-default"><i class="bi-list"></i></span>#}
{#          <span class="navbar-toggler-toggled"><i class="bi-x"></i></span>#}
{#        </button>#}
{##}
{#        <div class="collapse navbar-collapse" id="navbarNav">#}
{#          <ul class="navbar-nav ms-auto">#}
{#            <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">Home</a></li>#}
{#            <li class="nav-item"><a class="nav-link" href="{{ url_for('about') }}">About</a></li>#}
{#            <li class="nav-item"><a class="nav-link" href="{{ url_for('services') }}">Services</a></li>#}
{#            <li class="nav-item"><a class="nav-link" href="{{ url_for('contact') }}">Contact</a></li>#}
{#            <li class="nav-item"><a class="btn btn-primary" href="{{ url_for('pagelogin') }}">Log in</a></li>#}
{#          </ul>#}
{#        </div>#}
{#      </nav>#}
{#    </div>#}
{#  </header>#}
{##}
{#  <!-- Main Content -->#}
{#  <main class="container mt-5">#}
{#    {% block content %}{% endblock %}#}
{#  </main>#}
{##}
{#  <!-- Footer -->#}
{#  <footer class="p-4 bg-dark text-white text-center">#}
{#    <p>&copy; 2024 Sustains.ai | <a href="mailto:contact@sustains.ai" class="text-white">contact@sustains.ai</a></p>#}
{#  </footer>#}
{##}
{#  <!-- JavaScript -->#}
{#  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>#}
{#</body>#}
{#</html>#}
