<!DOCTYPE html>
<html lang="@@languageDirection.lang">
<head>
  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Title -->
  <title>Home</title>


  <!-- Font -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/hs-mega-menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/swiper-bundle.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/snippets.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/docs.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap-icons/font/bootstrap-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/hs-mega-menu/dist/hs-mega-menu.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}">


</head>

<body>
  {% include 'partials/navbar/main-absolute-top.html' %}
</body>
  </header>

  <!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main">
    <!-- Hero -->
    <div class="container content-space-t-3">
      <div class="row justify-content-lg-between align-items-lg-center">
        <div class="col-lg-5 mb-5 mb-lg-0">
          <div class="mb-5">
            <h1 class="display-4 text-dark mb-5">Start your journey with <span class="text-primary">sustains.ai</span></h1>
            <p class="fs-3">AI Driven risk analytics.</p>
          </div>

          <div class="d-grid d-sm-flex gap-3 mb-5">
            <a class="btn btn-primary" href="#">Schedule a meeting</a>
              <!-- <a class="btn btn-ghost-dark btn-pointer" href="#">Sign up free</a> -->

          </div>
        </div>
        <!-- End Col -->

        <div class="col-lg-6">
          <div class="position-relative">
            <div class="position-relative">
              <img class="img-fluid" src="{{ url_for('static', filename='img/950x950/img4.jpg') }}" alt="Image Description">

              <div class="position-absolute bottom-0 end-0">
                   <img class="img-fluid" src="{{ url_for('static', filename='svg/illustrations/grid-grey.svg') }}" alt="Image Description">
              </div>
            </div>

            <!-- Media -->
            <div class="d-inline-block position-absolute top-0 start-0 bg-white w-100 rounded-pill shadow-sm p-2 mt-5 ms-n5" style="max-width: 12rem;">
              <div class="d-flex align-items-center">
                <div class="flex-shrink-0">
                  <span class="avatar avatar-sm avatar-circle">
                       <img class="img-fluid" src="{{ url_for('static', filename='images/smile_girl_160_160.jpg') }}" alt="Image Description">
                  </span>
                </div>
                <div class="flex-grow-1 ms-2">
                  <div class="fs-5 fw-bold mb-0">Julia</div>
                  <span class="d-block fs-6">Fantastic team</span>
                </div>
              </div>
            </div>
            <!-- End Media -->

            <!-- Media -->
            <div class="d-inline-block position-absolute bottom-0 start-0 bg-warning w-100 rounded-pill shadow-sm p-2 mb-10 ms-n10" style="max-width: 16rem;">
              <div class="d-flex align-items-center">
                <div class="flex-shrink-0">
                  <span class="avatar avatar-sm avatar-circle">
                    <img class="img-fluid" src="{{ url_for('static', filename='img/160x160/img8.jpg') }}" alt="Image Description">
                  </span>
                </div>
                <div class="flex-grow-1 ms-2">
                  <div class="fs-5 fw-bold text-dark mb-0">Kriti</div>
                  <span class="d-block fs-6 text-dark"> Excellent quantitative skills 🔥👋</span>
                </div>
              </div>
            </div>
            <!-- End Media -->
          </div>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- End Hero -->

    <!-- Icon Blocks -->
 <!-- Icon Blocks -->
<div class="container content-space-t-2 content-space-t-lg-3">
  <div class="row">
    <div class="col-sm-6 col-lg mb-5 mb-lg-0">
      <!-- Icon Block -->
      <div class="text-center">
        <div class="mb-3">
          <i class="bi-graph-up-arrow fs-1 text-dark"></i>
        </div>

        <h5>AI-Driven Insights</h5>
        <span class="d-block"> Harness advanced AI to deliver actionable insights for smarter decision-making in finance and energy.</span>
      </div>
      <!-- End Icon Block -->
    </div>
    <!-- End Col -->

    <div class="col-sm-6 col-lg mb-5 mb-lg-0">
      <!-- Icon Block -->
      <div class="text-center">
        <div class="mb-3">
          <i class="bi-bar-chart-line fs-1 text-dark"></i>
        </div>

        <h5>Precision Risk Analytics</h5>
        <span class="d-block">Utilize innovative tools to assess and mitigate risks, empowering fund managers and energy strategists alike.</span>
      </div>
      <!-- End Icon Block -->
    </div>
    <!-- End Col -->

    <div class="col-sm-6 col-lg mb-5 mb-sm-0">
      <!-- Icon Block -->
      <div class="text-center">
        <div class="mb-3">
          <i class="bi-briefcase fs-1 text-dark"></i>
        </div>

        <h5>Sustainable Growth Solutions</h5>
        <span class="d-block">From portfolio optimization to resource planning, we help you achieve financial and environmental sustainability. </span>
      </div>
      <!-- End Icon Block -->
    </div>
    <!-- End Col -->

{#    <div class="col-sm-6 col-lg">#}
{#      <!-- Icon Block -->#}
{#      <div class="text-center">#}
{#        <div class="mb-3">#}
{#          <i class="bi-receipt fs-1 text-dark"></i>#}
{#        </div>#}
{##}
{#        <h5>Transparent Billing</h5>#}
{#        <span class="d-block">Clear and upfront pricing tailored to your specific needs—no hidden charges.</span>#}
{#      </div>#}
      <!-- End Icon Block -->
    </div>
    <!-- End Col -->
  </div>
  <!-- End Row -->
</div>
<!-- End Icon Blocks -->






  <!-- Features -->
<div class="overflow-hidden">
  <div class="container content-space-2 content-space-lg-3">
    <div class="row align-items-lg-center">
      <div class="col-lg-7 me-auto ms-lg-n10 mb-5 mb-lg-0">
        <div class="row align-items-center">
          <div class="col-4">
               <img class="img-fluid" src="{{ url_for('static', filename='img/580x480/iStock-2.jpg') }}" alt="Image Description">
          </div>
          <!-- End Col -->

          <div class="col-3">
               <img class="img-fluid" src="{{ url_for('static', filename='img/350x700/img1.jpg') }}" alt="Image Description">
          </div>
          <!-- End Col -->

          <div class="col-5">
               <img class="img-fluid" src="{{ url_for('static', filename='img/400x700/iStock-6.jpg') }}" alt="Image Description">

          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->
      </div>
      <!-- End Col -->

      <div class="col-lg-5">
        <div class="mb-5">
          <h2>Empowering Financial Decisions</h2>
          <p>At Sustains.ai, we are obsessed with mastering the complexities of risk analysis. Our mission is to empower businesses with precise tools and actionable insights to navigate uncertainty with confidence.</p>
        </div>

        <!-- List Checked -->
        <ul class="list-checked list-checked-soft-bg-primary list-checked-lg">
          <li class="list-checked-item"><span class="fw-bold">Sandbox – The Financial Vertical</span> - Delivering advanced risk analytics for fund managers to optimize portfolios, mitigate market risks, and drive sustainable financial growth. </li>
          <li class="list-checked-item"><span class="fw-bold">Entropy – The Energy Vertical</span> – Revolutionizing energy sector risk management with AI-powered solutions for ESG compliance, resource planning, and technical risk assessments.</li>
          <li class="list-checked-item"><span class="fw-bold">Sustainability Focus</span> – Combine financial growth with ESG compliance.</li>
        </ul>
        <!-- End List Checked -->
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>
</div>
<!-- End Features -->












<!-- Icon Blocks -->
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-lg-4 mb-5">
      <div class="text-center px-md-5">
        <div class="mb-3">
          <i class="bi-code-slash fs-1 text-dark"></i>
        </div>
        <p><span class="fw-bold"> Mastering the Art of Risk</span> – At Sustains.ai, we don’t just analyze risk; we decode its patterns, turning challenges into opportunities with precision and foresight.</p>
      </div>
    </div>
    <!-- End Col -->

    <div class="col-sm-6 col-lg-4 mb-5">
      <div class="text-center px-md-5">
        <div class="mb-3">
          <i class="bi-lightbulb fs-1 text-dark"></i>
        </div>
        <p><span class="fw-bold">Sandbox – Where Finance Meets Strategy</span> – Sandbox empowers financial experts to see beyond numbers, offering tools that unravel market complexities and unlock sustainable growth..</p>
      </div>
    </div>
    <!-- End Col -->

    <div class="col-sm-6 col-lg-4 mb-5">
      <div class="text-center px-md-5">
        <div class="mb-3">
          <i class="bi-graph-up-arrow fs-1 text-dark"></i>
        </div>
        <p><span class="fw-bold">Entropy – Energizing Tomorrow</span> – Entropy drives innovation in the energy sector, merging AI with expertise to mitigate risks and foster efficient, sustainable energy solutions.</p>
      </div>
    </div>
    <!-- End Col -->

    <div class="col-sm-6 col-lg-4 mb-5 mb-lg-0">
      <div class="text-center px-md-5">
        <div class="mb-3">
          <i class="bi-bar-chart-line fs-1 text-dark"></i>
        </div>
        <p><span class="fw-bold">Beyond Insights: Actionable Intelligence</span> – Our solutions are not just data-driven but action-oriented, designed to empower decisions that create measurable impact across industries.

</p>
      </div>
    </div>
    <!-- End Col -->

    <div class="col-sm-6 col-lg-4 mb-5 mb-sm-0">
      <div class="text-center px-md-5">
        <div class="mb-3">
          <i class="bi-globe fs-1 text-dark"></i>
        </div>
        <p><span class="fw-bold">Risk-First Innovation</span> – Innovation begins with understanding risk. By placing risk analysis at the heart of our technology, we ensure every solution is resilient, adaptive, and forward-looking.</p>
      </div>
    </div>
    <!-- End Col -->

    <div class="col-sm-6 col-lg-4">
      <div class="text-center px-md-5">
        <div class="mb-3">
          <i class="bi-cpu fs-1 text-dark"></i>
        </div>
        <p><span class="fw-bold">Empowering Visionaries, Transforming Industries</span> – From fund managers to energy strategists, we empower visionaries with tools and insights that reshape industries and build a sustainable future.</p>
      </div>
    </div>
    <!-- End Col -->
  </div>
  <!-- End Row -->
</div>
<!-- End Icon Blocks -->









<!-- Features -->
<div class="container content-space-t-2 content-space-t-lg-3">
  <div class="row justify-content-lg-between align-items-lg-center">
    <div class="col-lg-6 mb-5 mb-lg-0">
      <img class="img-fluid" src="{{ url_for('static', filename='img/950x950/iStock-1.jpg') }}" alt="Image Description">
    </div>
    <!-- End Col -->

    <div class="col-lg-5">
      <div class="mb-5">
        <h2>Explore Our Core Products</h2>
        <p>At Sustains.ai, we empower businesses with cutting-edge solutions tailored to the financial and energy sectors. Our expertise drives innovation and delivers actionable insights for our clients.</p>
      </div>

      <!-- List Checked -->
      <ul class="list-checked list-checked-soft-bg-primary list-checked-lg mb-5">
        <li class="list-checked-item"><span class="fw-bold"> Risk Analytics Platform</span> – A comprehensive web application that enables fund managers to analyze risks effectively and generate detailed risk reports.</li>
        <li class="list-checked-item"><span class="fw-bold">Standardized Equity Research Platform</span> – A modern solution to predict the fair value of stocks and provide buy/sell recommendations, streamlining processes previously managed through spreadsheets.</li>
        <li class="list-checked-item"><span class="fw-bold">Energy Resource Planner</span> – A powerful risk management tool for optimizing resource planning in the energy sector, ensuring efficient and sustainable resource utilization.</li>
          <li class="list-checked-item"><span class="fw-bold">Load Flow Analysis Application</span> –  A specialized application that evaluates risks in resource mixes (solar, wind, hydro) and recommends optimal proportions for microgrid operations using load flow analysis.</li>
           <li class="list-checked-item"><span class="fw-bold">Consultancy Services </span> –  Expert consulting powered by advanced risk analysis tools, providing actionable strategies for both financial and energy sectors.</li>
      </ul>
      <!-- End List Checked -->

      <a class="btn btn-primary" href="#">Learn More About Our Services</a>
    </div>
    <!-- End Col -->
  </div>
  <!-- End Row -->
</div>
<!-- End Features -->








<!-- Stats -->
<div class="container content-space-2 content-space-lg-3">
  <div class="row align-items-center">
    <!-- Left Column -->
    <div class="col-lg-6 mb-5 mb-lg-0">
      <div class="mb-6">
        <h2>Delivering Excellence, Speed, and Accuracy</h2>
        <p>We pride ourselves on offering solutions that are efficient, reliable, and tailored to our clients' needs. Quick setup and fast responses are at the heart of our services.</p>
      </div>

      <!-- Blockquote -->
      <figure>
        <blockquote class="blockquote"><em></em>"Working with Sustains.ai for market risk consultancy has been a transformative experience. Their expert insights and innovative solutions have significantly enhanced our risk management strategies, delivering measurable results and exceeding our expectations."</blockquote>

        <figcaption class="blockquote-footer">
          <div class="d-flex align-items-center">
            <div class="flex-shrink-0">
              <img class="img-fluid rounded-circle" src="{{ url_for('static', filename='img/160x160/Sooraj.jpg') }}" alt="Image Description">
            </div>
            <div class="flex-grow-1 ms-3">
              <span class="fw-bold">Sooraj E</span><br>
              <span class="blockquote-footer-source">Co-founder & CTO | Marketfeed</span>
            </div>
          </div>
        </figcaption>
      </figure>
      <!-- End Blockquote -->
    </div>
    <!-- End Left Column -->


<!-- Right Column -->
<div class="col-lg-5">
  <!-- Stats List -->
  <ul class="list-equal-height list-equal-height-2-cols">
    <li class="list-equal-height-item">
      <h4 class="display-5">3</h4>
      <p class="mb-0">active business partners leveraging our analytics solutions</p>
    </li>
    <li class="list-equal-height-item">
      <h4 class="display-5"><sub><i class="bi-arrow-up-short text-primary ms-n2"></i></sub>30%</h4>
      <p class="mb-0">improvement in portfolio returns for our clients</p>
    </li>
    <li class="list-equal-height-item">
      <h4 class="display-5"><sub><i class="bi-arrow-up-short text-primary ms-n2"></i></sub>15%</h4>
      <p class="mb-0">reduction in risk using advanced models</p>
    </li>
    <li class="list-equal-height-item">
      <h4 class="display-5">3x</h4>
      <p class="mb-0">faster decision-making with real-time data insights</p>
    </li>
  </ul>
  <!-- End Stats List -->
</div>
  </main>

      {% include 'partials/footer/main.html' %}
      {% include 'partials/layouts-components/go-to.html' %}
  <!-- ========== END SECONDARY CONTENTS ========== -->


      <script src="{{ url_for('static', filename='vendor/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>

  <!-- JS Implementing Plugins -->
  <!-- bundlejs:vendor [@@autopath] -->

         <script src="{{ url_for('static', filename='vendor/hs-header/dist/hs-header.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendor/hs-mega-menu/dist/hs-mega-menu.min.js') }}"></script>
         <script src="{{ url_for('static', filename='vendor/hs-go-to/dist/hs-go-to.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js') }}"></script>

  <!-- JS Unify -->
  <!-- bundlejs:theme [@@autopath] -->
       <script src="{{ url_for('static', filename='js/hs.core.js') }}"></script>

  <!-- JS Plugins Init. -->
   <!-- JS Plugins Init. -->
  <script>
    (function() {
      // INITIALIZATION OF NAVBAR
      // =======================================================
      new HSHeader('#header').init()


      // INITIALIZATION OF MEGA MENU
      // =======================================================
      const megaMenu = new HSMegaMenu('.js-mega-menu', {
        desktop: {
          position: 'left'
        }
      })


      // INITIALIZATION OF GO TO
      // =======================================================
      new HSGoTo('.js-go-to')


      // INITIALIZATION OF SWIPER
      // =======================================================
      var swiper = new Swiper('.js-swiper-clients',{
        slidesPerView: 2,
        breakpoints: {
          380: {
            slidesPerView: 3,
            spaceBetween: 15,
          },
          768: {
            slidesPerView: 4,
            spaceBetween: 15,
          },
          1024: {
            slidesPerView: 5,
            spaceBetween: 15,
          },
        },
      });
    })()
  </script>
</body>
</html>


